:root {
  --size: 90px;
}
body {
  margin: 0;
}

#topHead {
  width: 100%;
  /* height: 30%; */
  background-color: #000000;
  color: white;

  font-family: "Courier New", Courier, monospace;
  font-family: "Cascadia Code";
  font-weight: bold;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#usrINT {
  font-family: "Courier New", Courier, monospace;
  font-family: "Cascadia Code";
  font-weight: bold;
  font-size: var(--size);
  /* background-color: blue; */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#ansBX {
  font-family: "Courier New", Courier, monospace;
  font-family: "Cascadia Code";
  font-weight: bold;
  font-size: var(--size);
  background-color: #fff0;
  height: var(--size);
  width: 185px;
  margin-left: 37px;
}

#totalCONT {
  /* margin-left: 10px; */
}

#total {
  color: aqua;
}

#leftCONT {
  margin-left: 80px;
}

#left {
  color: #7aff27;
}

#mistakesCONT {
  margin-left: 80px;
  align-items: end;
}

#mistakes {
  color: #ff3d3d;
}

#menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: bolder;
  color:white;
  background-color: #000000;
}
#menu button{
  background-color: #00a2ff;
  color: black;
  font-weight: bolder;
  height: 45px;
  width: 90px;
  font-size: large;
  border-radius: 10px;
  margin-left: 15px;
}
#menu input{
  width: 75px;
  height:30px;
  margin-left: 15px;
}